/**
*   @Document : main.css
*   @Author   : Thomas Bnt
*   @Date     : 27/02/2022
*
*/

:root {
    --primary-color: #0065FC;
    --primary-color-light: #DEEBFF;
    --grey: #F2F2F2;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway"),
    url("/assets/fonts/Raleway.ttf") format("truetype");
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: Raleway, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
}

.navbar > img {
    padding-top: 10px;
    height: 100%;
    align-self: center;
}

.navbar > nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.navbar > nav > a {
    font-size: 17px;
    font-weight: 400;
    padding: 40px 30px;
    border-top: 3px solid transparent;
    cursor: pointer;
    color: #141415;
    text-decoration: none;
    transition: .2s;
}

.navbar > nav > a:first-of-type {
    border-top: 3px solid var(--primary-color);
    color: var(--primary-color);
}

.navbar > nav a:hover {
    border-top: 3px solid var(--primary-color);
}

.localization_form {
    display: flex;
    flex: 1;
    max-width: fit-content;
    font-size: 18px;
    margin: 25px 0;
}

input[type=search] {
    outline-offset: unset;
    padding: 13px;
    border: var(--grey) solid 1px;
    width: 0;
    min-width: fit-content;
}

input::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: #323232;
}

input {
    padding: 5px 15px;
}

.localization_icon {
    padding: 14px 19px;
    background-color: var(--grey);
    border: var(--grey) solid 1px;
    border-radius: 16px 0 0 16px;
}

.localization_form > button {
    cursor: pointer;
    background-color: var(--primary-color);
    border: var(--primary-color) solid .9px;
    color: white;
    padding: 14px 15px;
    border-radius: 0 16px 16px 0;
}

.filter_group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter {
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: var(--grey) solid 3px;
    border-radius: 50px;
    margin: 5px 8px;
    transition: .2s;
}

.filter:hover {
    cursor: pointer;
    background-color: rgba(0, 101, 252, 0.05);
}

.filter__icon {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    border-radius: 50%;
    min-height: 45px;
    min-width: 45px;
    margin: -3px;
    transition: .2s;
}

.filter:hover > .filter__icon {
    transition: .2s;
    transform: scale(1.1);
    background-color: #0065FC;
    color: white;
}

.filter__name {
    font-size: 15px;
    font-weight: 600;
    padding: 0 25px 0 15px;
}

/*---------------- Sections ----------------*/

.first_section h2 {
    font-weight: 200;
}

.filters_section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filters_section > h3 {
    font-size: 18px;
    font-weight: 600;
}

.hosts_section {
    display: flex;
    gap: 10px 30px;
}

.activities_section {
    margin: 50px 0;
}

/*---------------- End Sections ----------------*/
.info_host {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.white_circle_info {
    color: var(--primary-color);
    border: var(--grey) solid 1px;
    border-radius: 50%;
    max-width: 25px;
    max-height: 25px;
    height: 25px;
    width: 25px;
    text-align: center;
    margin-right: 10px;
}

.white_circle_info > i {
    margin: 5px;
}

.hosts {
    flex: 2;
}

.populars_hosts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hosts, .populars_hosts {
    background-color: var(--grey);
    padding: 30px 40px;
    border-radius: 15px;
}

.hosts > header > h2 {
    margin-bottom: 20px;
}

.group_cards_hosts {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 10px;
    justify-content: center;
}

.show_more {
    cursor: pointer;
    user-select: none;
    margin-top: 30px;
    font-size: 19px;
    font-weight: 600;
    transition: .2s;
}

.show_more:hover {
    color: var(--primary-color);
}

.card {
    text-decoration: none;
    color: #141415;
    background-color: white;
    border-radius: 25px;
    box-shadow: #c1c1c1a6 3px 4px 4px;
    transition: .4s;
    max-width: calc((100% / 3) - 10px);
    /*max-width: calc((100% / 3) - 10px);*/
    min-width: 200px;
    flex-grow: 1;
    flex: 1;
}

.card:hover,
.card_popular:hover {
    transition: .3s;
    cursor: pointer;
    box-shadow: #ddd 5px 6px 5px;
    box-shadow: rgb(58 58 58 / 26%) 4px 6px 4px;
}

.card:hover img,
.card_popular:hover img {
    transition: .2s;
    transform: scale(.98);
}

.card__image > img {
    object-fit: cover;
    transition: .3s;
    width: 100%;
    min-width: 120px;
    max-height: 136px;
    border-radius: 25px 25px 0 0;
    border: white solid 7px;
    -webkit-user-drag: none;
}

.card_popular > img {
    transition: .3s;
}

.card__body {
    margin: 5px 20px 25px 20px;
}

.card__title, .card__price, .card__note {
    margin-top: 6px;
}

.card__title > h3 {
    font-size: 17px;
    font-weight: 600;
}

.card__note i {
    color: var(--primary-color);
}

.card__note i.fa-star-stroke {
    color: var(--grey);
}

.localization_form > button:after {
    content: "Rechercher";
}

.populars_hosts > header {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.populars_hosts > header > i {
    font-size: 20px;
    margin-left: 10px;
}

.popular_hosts_group {
    display: inline-grid;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.card_popular {
    max-height: 150px;
    box-shadow: #ddd 2px 3px 5px;
    transition: .2s;
    text-decoration: unset;
    color: #1E1E1E;
    display: flex;
    background-color: white;
    border-radius: 25px;
    user-select: none;
}

.card_popular h3 {
    font-size: 19px;
}

.card_popular > .card__image {
    flex: 1;
    max-width: 140px;
    object-fit: cover;
    border: white solid 7px;
    border-radius: 25px 0 0 25px;
    min-height: 150px;
}

.card_popular > .card__body {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.card_popular > .card__body > .card__void {
    flex-grow: 1;
}

.activities_grid {
    display: grid;
    column-gap: 50px;
    column-gap: 25px;
    grid-auto-columns: 1fr;
    grid-template-rows: 150px 50px 50px 150px;
    grid-template-areas:
            "large1 small1 large2 small3"
            "large1 small1 large2 ."
            "large1 .      large2 small4"
            "large1 small2 large2 small4";
}

.activities_section h2 {
    margin-bottom: 20px;
}

.card__activities {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: #c1c1c1a6 3px 4px 4px;
    background-color: white;
    border-radius: 10px;
    border-radius: 20px;
    transition: .2s;
}

.card__activities:hover {
    cursor: pointer;
    box-shadow: rgb(58 58 58 / 26%) 4px 6px 4px;
}

.card__activities_title {
    font-size: 17px;
    font-weight: 600;
    flex-shrink: 0;
    flex-grow: 0;
    height: 55px;
    line-height: 55px;
    padding: 0 15px;
    overflow: auto;
}

.activities_grid img {
    user-select: none;
    -webkit-user-drag: none;
    width: 100%;
    height: 0;
    flex-shrink: 0;
    flex-grow: 1;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.big_activities_1 {
    grid-area: large1;
}

.medium_activities_1 {
    grid-area: small1;
}

.small_activities_1 {
    grid-area: small2;
}

.big_activities_2 {
    grid-area: large2;
}

.small_activities_2 {
    grid-area: small3;
}

.medium_activities_2 {
    grid-area: small4;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 30px 15%;
    background-color: var(--grey);
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 600;
}

footer > div {
    flex-grow: 1;
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

footer a {
    color: #1E1E1E;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: .2s;
}

footer a:hover {
    color: var(--primary-color);
}

footer ul {
    list-style-type: none;
}

footer li {
    line-height: 30px;
}

/*---------------- Breakpoints ----------------*/

/* large devices */
@media (min-width: 992px) {
    .container,
    .navbar {
        padding: 0 15%;
    }

    .navbar > nav > a:first-of-type {
        color: var(--primary-color);
    }

    .filters_section {
        display: inline-flex;
        margin-bottom: 20px;
    }

    .filters_section h3 {
        margin-right: 20px;
    }

    .filter {
        margin-left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container,
    .navbar {
        padding: 0 3%;
    }

    footer {
        padding: 0 3%;
    }
}

/* small devices */
@media (max-width: 768px) {
    .container {
        padding: 0 4%;
    }

    footer > div {
        margin: 0 10px;
    }

    .navbar {
        padding: 0 0;
        flex-direction: column;
    }

    .navbar > img {
        margin: 20px 0;
    }

    nav {
        width: 100%;
        justify-content: space-around;
    }

    nav,
    .navbar > nav > a {
        border-top: none;
        border-bottom: 2px solid var(--grey);
        width: 50%;
        text-align: center;
    }

    .navbar > nav > a {
        padding: 10px 30px;
    }

    .navbar > nav > a:first-of-type {
        border-top: 0 solid transparent;
    }

    .navbar > nav > a:hover {
        border-top: none;
        border-bottom-color: var(--primary-color);
    }

    .navbar > nav > a:first-of-type {
        color: #1E1E1E;
    }

    .first_section {
        padding-top: 10px;
    }

    .first_section h1 {
        font-size: 25px;
    }

    .first_section h2 {
        font-size: 18px;
    }

    .localization_icon,
    .localization_form > input[type=search],
    .localization_form > button {
        max-width: 100%;
        padding: 9px 13px;
    }

    .localization_form > button:after {
        font-family: FontAwesome, sans-serif;
        content: "\f002";
    }

    .filters_section h3 {
        margin-bottom: 10px;
    }

    .hosts_section {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 -4%;
    }

    .hosts, .populars_hosts {
        width: unset;
        border-radius: unset;
    }

    .activities_grid {
        display: grid;
        grid-auto-rows: 200px;
        grid-template-rows: initial;
        row-gap: 50px;
        row-gap: 20px;
        grid-template-areas: "large1" "small1" "small2" "large2" "small3" "small4";
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 20px;
    }
}

